/* Единственная строка, которая нужна для Tailwind CSS v4 */
@import "tailwindcss";

body {
  /* Светлый фон */
  background-color: #f7f9fe;
  /* ИСПРАВЛЕНО: Темный цвет текста по умолчанию для читаемости */
  color: #763f97;
}

/* Ссылки по умолчанию */
a {
  font-weight: 600;
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.8;
}